*,*::before,*::after {
    box-sizing: border-box;
}

:root {
  /* ---------- Colors ---------- */

  /* Primary */
  --clr-sedans: hsl(31, 77%, 52%);     /* Gold 500 */
  --clr-suvs: hsl(184, 100%, 22%);     /* Cyan 800 */
  --clr-luxury: hsl(179, 100%, 13%);   /* Green 950 */

  /* Neutral */
  --clr-text: hsla(0, 0%, 100%, 0.75); /* Paragraph text */
  --clr-bg: hsl(0, 0%, 95%);           /* Page background */
  --clr-white: hsl(0, 0%, 100%);

  /* ---------- Typography ---------- */

  --ff-body: "Lexend Deca", sans-serif;
  --ff-heading: "Big Shoulders Display", sans-serif;

  --fw-regular: 400;
  --fw-bold: 700;

  --fs-body: 0.9375rem; /* 15px */

  /* ---------- Layout ---------- */

  --radius: 0.5rem;
  --card-padding: 3.13rem;

  /* ---------- Transitions ---------- */

  --transition: 0.3s ease;
}

body{
    margin: 0;
    font-family: var(--ff-body);
    font-size: var(--fs-body);
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--clr-bg);
    width: 100%;
}

.collection {
    width: 90%;
    max-width: 24rem;
    border-radius: var(--radius);
    overflow: hidden;
    margin: 1.5rem 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;

}

.card {
    padding: var(--card-padding);
    display: flex;
    flex-direction: column;
}

.card.sedan{
    background-color: var(--clr-sedans);
    color: var(--clr-sedans);
}
.card.suvs{
    background-color: var(--clr-suvs);
    color: var(--clr-suvs);
}

.card.luxury {
    background-color: var(--clr-luxury);
    color: var(--clr-luxury);
}

p, h2 {
margin: 0;
}

.card h2{
    color: var(--clr-white);
    font-family: var(--ff-heading);
    font-size: 2rem;
    font-weight: var(--fw-bold);
    margin: 2rem 0;
}

.card p {
    color: var(--clr-text);
    font-weight: var(--fw-regular);
    line-height: 1.9;
    font-size: 0.8rem;
    margin-bottom: 2rem;
}

.card img {
    width: 3rem;
    display: block;
}

.card a{
    display: inline-block;
    padding: 0.7rem 1.6rem;
    background-color: var(--clr-white);
    text-decoration: none;
    color: inherit;    
    border-radius:1.5rem;
    border: 2px solid var(--clr-white);
    margin-top: auto;
    align-self: flex-start;
}

.card a:focus-visible {
  outline: 2px solid var(--clr-white);
  outline-offset: 3px;
}


.card a:hover{
    background-color: inherit;
    color: var(--clr-white);
    cursor: pointer;
}

@media(min-width:48rem){
    .collection{
        max-width: 50rem;
        display: flex;
        flex-direction: row;
    }

}